/* Silver gray */
/* Cobalt */
/* Jet Black */
/* Jet Black 2 */
/* Light Gray */
/* Black */
/* Gray */
/* Pure black */
/* Glow effect */
/* Apply a style to lists */
/* UI segment style */
/* The main settings: Droid Sans Font, 14px, Dark Gray */
body,
body.static-background #site {
  font-family: 'Droid Sans', sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #999 !important;
  background-color: #121417;
  background-image: linear-gradient(to bottom, #121417, #3f4650) !important;
  background-image: -o-linear-gradient(to bottom, #121417, #3f4650) !important;
  background-image: -moz-linear-gradient(to bottom, #121417, #3f4650) !important;
  background-image: -webkit-linear-gradient(to bottom, #121417, #3f4650) !important;
  background-image: -ms-linear-gradient(to bottom, #121417, #3f4650) !important;
}
/* Set the headers to White color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff !important;
}
/* The links */
a {
  text-decoration: none;
  color: #33b5e5;
}
/* Put a glow effect under the top bar */
.topbar {
  border-bottom: 1px solid #222;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75);
}
.topbar a {
  color: #aaa;
}
/* Adds a 'well effect' and padding to the main div */
#app,
#app.wiki-translation .main,
#app.wiki-translation .wiki-paragraph {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: #131517 none !important;
  border-top: solid 1px #2f2f2f;
  border-bottom: 1px solid #030303;
  border-left: 1px solid #030303;
  border-right: 1px solid #030303;
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
/*
  Adds a rounded corner well effect to inset boxes
*/
.white-inset-box,
.gray-inset-box,
.list-topics,
.hybrid-modal {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #060606 none !important;
  border-top: solid 1px #2f2f2f;
  border-bottom: 1px solid #030303;
  border-left: 1px solid #030303;
  border-right: 1px solid #030303;
}
/* Adds the list style to lists */
.grey-box-list,
.hybrid-modal,
.list-topics {
  padding: 0 15px;
  list-style: none;
  /* The list items */

}
.grey-box-list .nav-header,
.hybrid-modal .nav-header,
.list-topics .nav-header {
  text-shadow: none;
  margin-right: -15px;
  margin-left: -15px;
  display: block;
  padding: 3px 15px;
  font-weight: bold;
  line-height: 20px;
  color: #adafae;
  text-transform: uppercase;
}
.grey-box-list li,
.hybrid-modal li,
.list-topics li {
  line-height: 18px;
  border: none;
  -webkit-box-shadow: none 5px 5px 5px;
  -moz-box-shadow: none 5px 5px 5px;
  box-shadow: none 5px 5px 5px;
}
.grey-box-list li a,
.hybrid-modal li a,
.list-topics li a {
  text-shadow: none;
}
/* Remove headers bg and put only a border bottom */
.header-pane,
.user-pane-small {
  border-bottom: 1px solid #2f2f2f;
  background: transparent !important;
  text-shadow: none;
}
.header-pane {
  margin: -50px -50px 50px -50px;
}
/* The user stats at the profile page */
.header-pane .user-stats {
  margin: 20px 0;
  background-color: #060606;
  background-image: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent !important;
  color: #999999;
  line-height: 20px;
  border-bottom: 1px solid #222;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75);
  line-height: 62px;
}
.header-pane .user-stats > li {
  border-left: none;
  display: inline;
  float: left;
  padding: 4px 12px;
}
.header-pane .user-stats > li .active {
  cursor: default;
  background-color: #33b5e5;
}
.header-pane .user-stats > li {
  color: #ffffff;
  padding: 0;
}
/* Class for the links to the users */
.user {
  font-weight: bolder;
  color: #ffffff !important;
}
