<div class="navbar-inner" id="navbar-inner">
    <!-- TODO Add loading indicator image here -->
    <a class="brand" href="#">
        <img src="assets/images/logo.png" alt="Home"/>
    </a>

    <div class="loading-indicator" id="loading-indicator"></div>
    <div id="navbarview"></div>
</div>