<!--<link href="../../css/styles.css" rel="stylesheet" type="text/css"/>-->
<div id="pagination" class="container btn-large btn">
    <div id="pagination_loading" style="display: none" class="pagination">
        <span id="spinner"></span>
        Loading more games...
    </div>
    <div id="pagination_failure" style="display: none" class="pagination btn btn-large btn-danger">Error retrieving games.</div>
    <div id="pagination_none" style="display: none" class="pagination btn btn-large btn-warning">No more games</div>
</div>